{% extends "base.html.twig" %}

{% block content %}
<div class="product-detail">
    <div class="product-detail-image">
        <img src="{{ product.image }}" alt="{{ product.name }}">
    </div>
    
    <div class="product-detail-content">
        <h1 class="product-titleP">{{ product.name }}</h1>
        <p class="product-subtitleP">{{ product.subtitle }}</p>
        
        {% for paragraph in product.paragraphs %}
        <p class="product-paragraphP">{{ paragraph }}</p>
        {% endfor %}
        
        <a href="index.php" class="back-button">NAZAJ NA SEZNAM</a>
    </div>
</div>
{% endblock %}